.ajax-loader {
  font-size:1.2em;
  position:fixed;
  top:50%;
  left:50%;
  width:200px;  
  margin:0 -84px 0 -64px;  
  width: 128px;
  height: 135px;
  text-align:center; 
  z-index:4000;
  background: url(/_/0eapoaa/images/ajax_loader.gif) no-repeat center 5px;
  text-align: center;  
  color:#222222;}

html{min-height:100%;position:relative}/* make sure it is at least as tall as the viewport */

html,body { 
  background-color: #999;
  height: 100%;  
  margin: 0;
  overflow: hidden;
}

#login_form{
  top:50%;
  left:50%;
  border: 2px solid #cccccc;
  width: 500px;
  height: 300px;
  border-radius: 5px;
}

#login_form dl {
  padding: 0;
  margin: 0 10px;
  font-size: 25px;
  color: white;
}

#login_form dd {
  padding: 0;
  margin: 0px;
}

#login_form form {  
  margin-top: 25px;
}

#login_form .textfield{
  padding:  0;
  margin: 10px 20px 20px 10px;
  width: 450px;
  height: 40px;
  font-size: large;
}

#-js-submit{
  height: 40px;
  width: 150px;
  margin-left: 160px;
}

#login_form .errors {
  color: #CC0000;
  margin: -3px 20px;
  padding: 0;
  display: none; 
  font-size: 15pt;
}

#select-menu {
  background-color: #000000;
  border: 1px solid #cccccc;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  z-index: 100;
}

.project-selector {
  margin-top: 5px;
  margin-right: 20px;
  float: right;
  width: 200px;
}

div#tab-content {
  position: absolute;  
  top:70px;
  bottom: 10px;
  left:5%;
  width: 90%;  
  background-color: #FFF;    
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.3);
}

content {  
  height: 100%;
  min-height:100%;
}